body{
  background: #E1E8ED;
  color:#66757F;
  padding: 20px 4px;
}
.dd{
  align-items: center;
  justify-content: center;
  float: center;
  text-align: center;
}
.accordion {
  background-color: #66757F;
  color: #E1E8ED;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  border-radius: 20px;
  text-align: left;
  outline: none;
  font-size: 17px;
  transition: 0.4s;
  box-shadow: 2px 2px 4px #CCD6DD,
  -2px -2px 4px #CCD6DD;
}

.active, .accordion:hover {
  background-color: #CCD6DD;
  color: #66757F;
}

/* Engineer.Abdulaziz.is@gmail.com */
.accordion:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .accordion {
    width: 100%;
  }
}

.accordion:after {
  content: '\002B';
  color: #E1E8ED;
  border-radius: 10px;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  color: #66757F;
}

.panel {
  padding: 3px 30px;
  background-color: #E1E8ED;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
